* {
    padding: 0;
    margin: 0;
}

.menu-left {
    background-color: rgb(82, 82, 82);
    width: 200px;
    height: 100vh;
}

.group {
    border: 5px solid rgb(138, 138, 138);
    border-radius: 5px;
}

.layer {
    border: 5px solid rgb(138, 138, 138);
    border-radius: 5px;
    margin-left: 10px;
    height: 1.5em;
}
